.crear-tarea-nueva .formTodo{
    display: flex;
    flex-direction: column;
}

.input-new-todo {
    border-style: none;
    height: 50px;
    margin-bottom: 24px;
    background-color: #ECECEC;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);  
    padding-left: 18px;
    font-family: Lexend Deca;
}

