.todo-item {
    display: flex;
    height: 50px;   
    list-style: none;
    align-content: center;      
    margin-bottom: 24px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);  
    padding: 0 18px;
}

.todo-item-completed{
    display: flex;
    height: 50px;   
    list-style: none;
    align-content: center;      
    margin-bottom: 24px;
    background-color: var(--blue20);
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);  
    padding: 0 18px;
}

.todo-item .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--blue); /* Cambia el color de fondo cuando está marcado */
}

.todo-item li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;     
}

.todo-item p {
    width: 100%;
    text-align: left;
    padding-left: 18px;
}

.todo-item-completed p {
    width: 100%;
    text-align: left;
    padding-left: 18px;
    color: gray;
}

.custom-checkbox input{
    display: none;
}

.custom-checkbox .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: white; /* Color de fondo cuando no está marcado */
    border: 2px solid var(--strokeBox);
    border-radius: 4px;
    margin-right: 10px;
    color: white;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--blue); /* Cambia el color de fondo cuando está marcado */
}

.material-symbols-outlined{
    cursor: pointer;
}